Repository bcgov/healthgateway, pull requests merged in 2021-10, with the labels that each got.

#2842 Add functional tests for invalid doses for AB#11408.
  Testing/functional/tests/cypress.json
  Testing/functional/tests/cypress/integration/e2e/report/immunizationInvalidDoses.js
  Testing/functional/tests/cypress/integration/e2e/timeline/immunizationInvalidDoses.js
  Testing/functional/tests/cypress/integration/e2e/vaccineCard/authenticated.js
Labels: functional tests, ready

#2846 Fix functional tests for invalid doses to use Keycloak User instead of BCSC for AB#11418
  Testing/functional/tests/cypress.json
  Testing/functional/tests/cypress/integration/e2e/report/immunizationInvalidDoses.js
  Testing/functional/tests/cypress/integration/e2e/timeline/immunizationInvalidDoses.js
  Testing/functional/tests/cypress/integration/e2e/vaccineCard/authenticated.js
Labels: bug, functional tests

#2847 Register added Keycloak user for invalid dose functonal tests to seed data for AB#11418.
  Testing/functional/tests/cypress/db/seed.sql
Labels: bug, functional tests, ready

#2849 Update CSP to fix Swagger loading issue for AB#11423
  Apps/WebClient/src/appsettings.json
Labels: ready

#2966 Retry logic on Federal Authenticated and Public AB#11603
  Apps/Immunization/src/Services/VaccineStatusService.cs
  Apps/WebClient/src/ClientApp/src/store/modules/vaccinationStatus/actions.ts
  Testing/functional/tests/cypress/fixtures/ImmunizationService/covidVaccineRecordNotLoaded.json
  Testing/functional/tests/cypress/integration/e2e/dashboard/proofOfVaccination.js
Labels: ready
