Repository bcgov/healthgateway, pull requests merged in 2023-10, with the labels that each got.

#5645 Fix Admin support COVID-19 dates and form AB#16202
  Apps/Admin/Client/Components/Support/Covid19ImmunizationSection.razor
  Apps/Admin/Client/Components/Support/Covid19ImmunizationSection.razor.cs
  Apps/Admin/Client/Pages/Covid19TreatmentAssessmentPage.razor
  Apps/Admin/Common/Models/CovidSupport/VaccineDose.cs
  Apps/Admin/Server/MapProfiles/VaccineDoseProfile.cs
  Apps/Admin/Tests/Services/SupportServiceTests.cs
  Apps/CommonData/src/Utils/DateFormatter.cs
  Apps/GatewayApi/src/MapProfiles/WebAlertProfile.cs
Labels: bugfix, ready

#5650 Fix quick link functional test trying to click too many things AB#16223
  Testing/functional/tests/cypress/integration/e2e/user/quickLinks.js
Labels: bugfix, functional tests, ready

#5651 Skip duplicated dependent tests with parallelization issues AB#16214
  Testing/functional/tests/cypress/integration/e2e/dependent/management.js
Labels: bugfix, functional tests, ready

#5653 Add UI Enhancements for AB#16225
  Apps/WebClient/src/ClientApp/src/components/common/HgCardComponent.vue
  Apps/WebClient/src/ClientApp/src/components/private/dependent/tabs/DependentDashboardTabComponent.vue
  Apps/WebClient/src/ClientApp/src/components/private/timeline/FilterComponent.vue
Labels: ready

#5654 Add unit tests for masks AB#16256
  Apps/CommonUi/test/unit/Constants/MaskTests.cs
Labels: bugfix, unit tests, ready

#5662 Update recommendations dialog and templates AB#16213
  Apps/GatewayApi/src/Assets/Templates/DependentImmunizationRecommendationReport.docx
  Apps/GatewayApi/src/Assets/Templates/DependentImmunizationRecommendationReport.xlsx
  Apps/GatewayApi/src/Assets/Templates/ImmunizationRecommendationReport.docx
  Apps/GatewayApi/src/Assets/Templates/ImmunizationRecommendationReport.xlsx
  Apps/GatewayApi/src/GatewayApi.csproj
  Apps/GatewayApi/src/Models/ReportRequestModel.cs
  Apps/WebClient/src/ClientApp/src/components/private/home/HomeView.vue
  Apps/WebClient/src/ClientApp/src/components/private/reports/ImmunizationReportComponent.vue
  Apps/WebClient/src/ClientApp/src/components/private/reports/RecommendationsDialogComponent.vue
  Apps/WebClient/src/ClientApp/src/models/reportRequest.ts
  Apps/WebClient/src/ClientApp/src/stores/immunization.ts
Labels: ready

#5634 Add MessageBus code for userProfile related operation for AB#15538
  Apps/Common/src/Constants/ChangeFeedConfiguration.cs
  Apps/Common/src/Models/Events/AccountClosedEvent.cs
  Apps/Common/src/Models/Events/AccountCreatedEvent.cs
  Apps/Common/src/Models/Events/NotificationChannelVerifiedEvent.cs
  Apps/Database/src/Delegates/DbMessagingVerificationDelegate.cs
  Apps/Database/src/Delegates/DbProfileDelegate.cs
  Apps/Database/src/Delegates/IMessagingVerificationDelegate.cs
  Apps/Database/src/Delegates/IUserProfileDelegate.cs
  Apps/GatewayApi/src/Controllers/UserProfileController.cs
  Apps/GatewayApi/src/Services/DependentService.cs
  Apps/GatewayApi/src/Services/IUserEmailService.cs
  Apps/GatewayApi/src/Services/IUserProfileService.cs
  Apps/GatewayApi/src/Services/IUserSmsService.cs
  Apps/GatewayApi/src/Services/UserEmailService.cs
  Apps/GatewayApi/src/Services/UserProfileService.cs
  Apps/GatewayApi/src/Services/UserSmsService.cs
  Apps/GatewayApi/src/appsettings.Development.json
  Apps/GatewayApi/test/unit/Controllers.Test/UserProfileControllerTests.cs
  Apps/GatewayApi/test/unit/Services.Test/Mock/UserProfileDelegateMock.cs
  Apps/GatewayApi/test/unit/Services.Test/Mock/UserProfileServiceMock.cs
  Apps/GatewayApi/test/unit/Services.Test/UserEmailServiceTests.cs
  Apps/GatewayApi/test/unit/Services.Test/UserProfileServiceTests.cs
  Apps/GatewayApi/test/unit/Services.Test/UserSmsServiceTests.cs
  Apps/GatewayApi/test/unit/UnitTest.json
  Apps/JobScheduler/src/Jobs/CloseAccountJob.cs
  Apps/JobScheduler/src/appsettings.Development.json
Labels: ready

#5659 Admin invalid dose, blocked immunizations and no hdid support AB#16172
  Apps/Admin/Client/Api/ISupportApi.cs
  Apps/Admin/Client/Components/Support/Covid19ImmunizationSection.razor
  Apps/Admin/Client/Components/Support/Covid19ImmunizationSection.razor.cs
  Apps/Admin/Client/Pages/Covid19TreatmentAssessmentPage.razor.cs
  Apps/Admin/Client/Pages/PatientDetailsPage.razor
  Apps/Admin/Client/Pages/PatientDetailsPage.razor.cs
  Apps/Admin/Client/Pages/SupportPage.razor.cs
  Apps/Admin/Client/Store/PatientDetails/PatientDetailsActions.cs
  Apps/Admin/Client/Store/PatientDetails/PatientDetailsEffects.cs
  Apps/Admin/Common/Constants/ClientRegistryType.cs
  Apps/Admin/Server/Controllers/SupportController.cs
  Apps/Admin/Server/Delegates/IImmunizationAdminDelegate.cs
  Apps/Admin/Server/Delegates/RestImmunizationAdminDelegate.cs
  Apps/Admin/Server/Services/ISupportService.cs
  Apps/Admin/Server/Services/SupportService.cs
  Apps/Admin/Tests/Delegates/RestImmunizationAdminDelegateTests.cs
  Apps/Admin/Tests/Functional/cypress/integration/e2e/patient-details.cy.js
  Apps/Admin/Tests/Functional/cypress/integration/e2e/support.cy.js
  Apps/Admin/Tests/Functional/cypress/integration/ui/support.cy.js
  Apps/Admin/Tests/Functional/cypress/utilities/supportUtilities.js
  Apps/Admin/Tests/Services/SupportServiceTests.cs
Labels: bugfix, .NET, functional tests, unit tests, ready, UI

#5664 Add recommendations dialog mobile test for AB#16217
  Testing/functional/tests/cypress/integration/e2e/pages/home.js
Labels: functional tests, ready

#5667 Improve Mobile Recommendation dialogs for Features/16162
  Apps/WebClient/src/ClientApp/src/components/private/reports/ImmunizationReportComponent.vue
  Apps/WebClient/src/ClientApp/src/components/private/reports/RecommendationsDialogComponent.vue
  Apps/WebClient/src/ClientApp/src/models/reportField.ts
  Testing/functional/tests/cypress/integration/e2e/pages/home.js
Labels: functional tests, ready

#5665 Add refresh button to admin patient details immunizations for AB#16201
  Apps/Admin/Client/Api/ISupportApi.cs
  Apps/Admin/Client/Components/Support/Covid19ImmunizationSection.razor
  Apps/Admin/Client/Components/Support/Covid19ImmunizationSection.razor.cs
  Apps/Admin/Client/Pages/Covid19TreatmentAssessmentPage.razor.cs
  Apps/Admin/Client/Pages/PatientDetailsPage.razor.cs
  Apps/Admin/Client/Store/PatientDetails/PatientDetailsActions.cs
  Apps/Admin/Client/Store/PatientDetails/PatientDetailsEffects.cs
  Apps/Admin/Server/Controllers/SupportController.cs
  Apps/Admin/Server/Services/ISupportService.cs
  Apps/Admin/Server/Services/SupportService.cs
  Apps/Admin/Tests/Functional/cypress/fixtures/SupportService/patient-details-one-dose.json
  Apps/Admin/Tests/Functional/cypress/fixtures/SupportService/patient-details.json
  Apps/Admin/Tests/Functional/cypress/integration/ui/patient-details.cy.js
  Apps/Admin/Tests/Services/SupportServiceTests.cs
Labels: bugfix, .NET, functional tests, unit tests, ready, UI

#5678 Update configuration to accept FederalWithCover for AB#16197.
  Apps/Admin/Server/appsettings.json
  Apps/Common/src/Constants/VaccineProofTemplate.cs
Labels: enhancement, .NET, ready

#5677 Fix recommendations dialog functional test AB#16279
  Testing/functional/tests/cypress/integration/e2e/dependent/dashboard.js
Labels: bugfix, functional tests, ready

#5675 Fix admin link from reports and feedback to patient details for AB#16277
  Apps/Admin/Client/Pages/FeedbackPage.razor.cs
  Apps/Admin/Client/Pages/ReportsPage.razor.cs
  Apps/Admin/Client/Pages/SupportPage.razor.cs
  Apps/Admin/Client/Utils/SessionUtility.cs
  Apps/Admin/Client/Utils/StoreUtility.cs
  Apps/Admin/Tests/Functional/cypress/integration/e2e/feedback-review.cy.js
  Apps/Admin/Tests/Functional/cypress/integration/e2e/patient-details.cy.js
Labels: bugfix, .NET, functional tests, ready

#5681 Update functional tests for config callback changes AB#16286
  Testing/functional/tests/cypress/support/commands.js
Labels: bugfix, functional tests, ready

#5690 Update text on immunization dialog download button AB#16284
  Apps/WebClient/src/ClientApp/src/components/private/reports/RecommendationsDialogComponent.vue
Labels: bugfix, ready

#5691 Fixed admin support patient details when multiple results for AB#16289.
  Apps/Admin/Client/Pages/SupportPage.razor.cs
  Apps/Admin/Tests/Functional/cypress/integration/e2e/support.cy.js
Labels: bugfix, .NET, functional tests, ready

#5697 Filter out administrative claims from encounters for AB#15622
  Apps/Encounter/src/Services/EncounterService.cs
  Apps/Encounter/src/appsettings.json
  Apps/Encounter/test/unit/Services/EncounterServiceTests.cs
Labels: .NET, unit tests, ready

#5699 Change exclude fee desc array to csv string in config for AB#16309.
  Apps/Encounter/src/Services/EncounterService.cs
  Apps/Encounter/src/appsettings.json
  Apps/Encounter/test/unit/Services/EncounterServiceTests.cs
Labels: .NET, unit tests, ready

#5698 Add user count bar chart to Admin dashboard AB#16069
  Apps/Admin/Client/Api/IDashboardApi.cs
  Apps/Admin/Client/Components/Dashboard/RatingSummary.razor
  Apps/Admin/Client/Components/Dashboard/RatingSummary.razor.cs
  Apps/Admin/Client/Pages/DashboardPage.razor
  Apps/Admin/Client/Pages/DashboardPage.razor.cs
  Apps/Admin/Client/Store/Dashboard/DashboardActions.cs
  Apps/Admin/Client/Store/Dashboard/DashboardEffects.cs
  Apps/Admin/Client/Store/Dashboard/DashboardReducers.cs
  Apps/Admin/Client/Store/Dashboard/DashboardState.cs
  Apps/Admin/Server/Controllers/CsvExportController.cs
  Apps/Admin/Server/Controllers/DashboardController.cs
  Apps/Admin/Server/Services/CsvExportService.cs
  Apps/Admin/Server/Services/DashboardService.cs
  Apps/Admin/Server/Services/ICsvExportService.cs
  Apps/Admin/Server/Services/IDashboardService.cs
  Apps/Admin/Tests/Services/CsvExportServiceTests.cs
  Apps/Database/src/Delegates/DbProfileDelegate.cs
  Apps/Database/src/Delegates/IUserProfileDelegate.cs
Labels: ready, user story, UI

#5706 Fix of ChangeFeed code for AB#16313
  Apps/Common/src/Messaging/AzureServiceBus.cs
  Apps/Common/src/Messaging/MessageBase.cs
  Apps/GatewayApi/src/Services/UserEmailService.cs
  Apps/GatewayApi/src/Services/UserProfileService.cs
  Apps/GatewayApi/src/Services/UserSmsService.cs
  Apps/JobScheduler/src/Jobs/CloseAccountJob.cs
  Testing/functional/tests/cypress/db/seed.sql
Labels: bugfix, ready, hotfix

#5703 Update support support for missing patient data for AB#16296
  Apps/Admin/Client/Pages/SupportPage.razor
  Apps/Admin/Client/Pages/SupportPage.razor.cs
  Apps/Admin/Server/Services/SupportService.cs
  Apps/Admin/Tests/Services/SupportServiceTests.cs
Labels: ready

#5714 Change clinical document label for AB#16301
  Apps/WebClient/src/ClientApp/src/components/private/dependent/legacy/LegacyDependentCardComponent.vue
  Apps/WebClient/src/ClientApp/src/components/private/timeline/entry/ClinicalDocumentTimelineComponent.vue
Labels: ready, UI

#5713 Update appsettings with override values from openshift for AB#16312.
  Apps/Encounter/src/appsettings.json
Labels: bugfix, .NET, ready

#5704 Do not show Not User for admin support user for AB#16295
  Apps/Admin/Client/Pages/PatientDetailsPage.razor
  Apps/Admin/Client/Pages/PatientDetailsPage.razor.cs
  Apps/Admin/Tests/Functional/cypress/fixtures/SupportService/messaging-verification.json
  Apps/Admin/Tests/Functional/cypress/fixtures/SupportService/patient-details.json
  Apps/Admin/Tests/Functional/cypress/fixtures/SupportService/users-hdid-not-found.json
  Apps/Admin/Tests/Functional/cypress/fixtures/SupportService/users-patient-deceased.json
  Apps/Admin/Tests/Functional/cypress/fixtures/SupportService/users-patient-not-user.json
  Apps/Admin/Tests/Functional/cypress/fixtures/SupportService/users-phn.json
  Apps/Admin/Tests/Functional/cypress/fixtures/SupportService/users.json
  Apps/Admin/Tests/Functional/cypress/integration/ui/patient-details.cy.js
  Apps/Admin/Tests/Functional/cypress/integration/ui/support.cy.js
Labels: bugfix, .NET, functional tests, ready

#5723 Add timezone to comments and remove timezone alert AB#16341
  Apps/WebClient/src/ClientApp/src/components/private/home/HomeView.vue
  Apps/WebClient/src/ClientApp/src/components/private/profile/ActiveUserProfileComponent.vue
  Apps/WebClient/src/ClientApp/src/components/private/timeline/comment/CommentComponent.vue
  Apps/WebClient/src/ClientApp/src/stores/app.ts
Labels: ready

#5724 Update text placement on immunization report documents AB#16282
  Apps/GatewayApi/src/Assets/Templates/ImmunizationRecommendationReport.docx
  Apps/GatewayApi/src/Assets/Templates/ImmunizationReport.docx
Labels: ready, user story

#5721 Update ProtectedDependent report for AB#16269
  Apps/Admin/Client/Api/IAdminReportApi.cs
  Apps/Admin/Client/Pages/ReportsPage.razor
  Apps/Admin/Client/Pages/ReportsPage.razor.cs
  Apps/Admin/Client/Pages/SupportPage.razor
  Apps/Admin/Client/Store/AdminReport/AdminReportActions.cs
  Apps/Admin/Client/Store/AdminReport/AdminReportEffects.cs
  Apps/Admin/Client/Store/AdminReport/AdminReportState.cs
  Apps/Admin/Common/Models/AdminReports/BlockedAccessRecord.cs
  Apps/Admin/Common/Models/AdminReports/ProtectedDependentRecord.cs
  Apps/Admin/Server/Controllers/AdminReportController.cs
  Apps/Admin/Server/Services/AdminReportService.cs
  Apps/Admin/Server/Services/IAdminReportService.cs
  Apps/CommonData/src/Constants/SortDirection.cs
  Apps/Database/src/Delegates/DbDelegationDelegate.cs
  Apps/Database/src/Delegates/IDelegationDelegate.cs
  Testing/integration/tests/AdminReports/AdminApiAdminReportTests.cs
Labels: ready

#5728 Add datasets and services to mobile configuration AB#16299
  Apps/WebClient/src/Server/Controllers/ConfigurationController.cs
  Apps/WebClient/src/Server/Models/MobileAuthenticationSettings.cs
  Apps/WebClient/src/Server/Models/MobileConfiguration.cs
  Apps/WebClient/src/Server/Services/ConfigurationService.cs
  Apps/WebClient/test/unit/Assets/appsettings.json
  Apps/WebClient/test/unit/Assets/featuretoggleconfig.json
  Apps/WebClient/test/unit/Services/ConfigurationServiceTests.cs
  Apps/WebClient/test/unit/WebClientTests.csproj
Labels: ready, user story

#5731 Correct null handling in dateWrapper for AB#16356
  Apps/WebClient/src/ClientApp/src/models/dateWrapper.ts
  Testing/functional/tests/cypress/integration/ui/report/reportSorting.js
Labels: functional tests, ready

#5732 Update admin report test for new feature changes for AB#16272
  Apps/Admin/Tests/Functional/cypress/integration/e2e/reports.cy.js
Labels: functional tests, ready

#5733 Extend protected dependent report for AB#16222
  Apps/Admin/Client/Api/IAdminReportApi.cs
  Apps/Admin/Client/Pages/DelegationPage.razor.cs
  Apps/Admin/Client/Pages/ReportsPage.razor
  Apps/Admin/Client/Pages/ReportsPage.razor.cs
  Apps/Admin/Client/Pages/SupportPage.razor
  Apps/Admin/Client/Store/AdminReport/AdminReportActions.cs
  Apps/Admin/Client/Store/AdminReport/AdminReportEffects.cs
  Apps/Admin/Client/Store/AdminReport/AdminReportReducers.cs
  Apps/Admin/Client/Store/AdminReport/AdminReportState.cs
  Apps/Admin/Common/Models/AdminReports/BlockedAccessRecord.cs
  Apps/Admin/Common/Models/AdminReports/ProtectedDependentReport.cs
  Apps/Admin/Common/Models/AdminReports/ReportMetadata.cs
  Apps/Admin/Server/Controllers/AdminReportController.cs
  Apps/Admin/Server/Services/AdminReportService.cs
  Apps/Admin/Server/Services/IAdminReportService.cs
  Apps/Admin/Tests/Functional/cypress/integration/e2e/reports.cy.js
  Apps/CommonData/src/Constants/SortDirection.cs
  Apps/Database/src/Delegates/DbDelegationDelegate.cs
  Apps/Database/src/Delegates/IDelegationDelegate.cs
  Testing/integration/tests/AdminReports/AdminApiAdminReportTests.cs
Labels: functional tests, unit tests, ready

#5734 Implement change feed for blocked data sources for AB#15397.
  Apps/AccountDataAccess/src/Patient/IPatientRepository.cs
  Apps/AccountDataAccess/src/Patient/PatientRepository.cs
  Apps/AccountDataAccess/test/unit/PatientRepositoryTests.cs
  Apps/Admin/Server/Services/SupportService.cs
  Apps/Admin/Server/appsettings.Development.json
  Apps/Admin/Server/appsettings.hgdev.json
  Apps/Admin/Server/appsettings.json
  Apps/Common/src/Models/Events/DataSourcesBlockedEvent.cs
  Apps/Database/src/Delegates/DbBlockedAccessDelegate.cs
  Apps/Database/src/Delegates/IBlockedAccessDelegate.cs
  Testing/integration/tests/AdminSupport/PatientRepositoryBlockAccessTests.cs
Labels: enhancement, .NET, unit tests, ready

#5737 Fix runtime dependency error for PatientRepository MessageBus AB#16379
  Apps/ClinicalDocument/src/Startup.cs
  Apps/Encounter/src/Startup.cs
  Apps/Immunization/src/Startup.cs
  Apps/Laboratory/src/Startup.cs
  Apps/Medication/src/Startup.cs
  Apps/Patient/src/Program.cs
Labels: bugfix, .NET, ready

#5739 Code review simplify enum to string conversion for AB#16377
  Apps/AccountDataAccess/src/Patient/PatientRepository.cs
  Apps/AccountDataAccess/test/unit/PatientRepositoryTests.cs
Labels: bugfix, .NET, ready

#5740 Hangfire configuration required for AB#16379.
  Apps/ClinicalDocument/src/Startup.cs
  Apps/Encounter/src/Startup.cs
  Apps/Immunization/src/Startup.cs
  Apps/Laboratory/src/Startup.cs
  Apps/Medication/src/Startup.cs
  Apps/Patient/src/Program.cs
Labels: bugfix, .NET, ready

#5738 Add dependent table to patient details page AB#15578
  Apps/Admin/Client/Components/Support/DependentTable.razor
  Apps/Admin/Client/Components/Support/DependentTable.razor.cs
  Apps/Admin/Client/Components/Support/MessageVerificationTable.razor.cs
  Apps/Admin/Client/Pages/PatientDetailsPage.razor
  Apps/Admin/Client/Pages/PatientDetailsPage.razor.cs
  Apps/Admin/Client/Store/PatientDetails/PatientDetailsReducers.cs
  Apps/Admin/Client/Store/PatientDetails/PatientDetailsState.cs
Labels: ready, UI

#5744 Add functional tests for patient details dependents AB#15579
  Apps/Admin/Tests/Functional/cypress/integration/e2e/patient-details.cy.js
Labels: functional tests, ready

#5746 Hide pcrtest manual only components for AB#16338
  Apps/WebClient/src/ClientApp/src/components/public/pcr-test-kit-registration/PcrTestKitRegistrationForm.vue
Labels: ready

#5747 Refactor patient support details parameters AB#16376
  Apps/Admin/Server/Controllers/SupportController.cs
  Apps/Admin/Server/Models/PatientSupportDetailsQuery.cs
  Apps/Admin/Server/Services/ISupportService.cs
  Apps/Admin/Server/Services/SupportService.cs
  Apps/Admin/Tests/Services/SupportServiceTests.cs
Labels: ready

#5743 Bind feed settings to class for AB#16372
  Apps/AccountDataAccess/src/Patient/PatientRepository.cs
  Apps/Common/src/Constants/ChangeFeedOptions.cs
  Apps/GatewayApi/src/Services/DependentService.cs
  Apps/GatewayApi/src/Services/UserEmailService.cs
  Apps/GatewayApi/src/Services/UserProfileService.cs
  Apps/GatewayApi/src/Services/UserSmsService.cs
  Apps/GatewayApi/src/appsettings.Development.json
  Apps/GatewayApi/src/appsettings.hgdev.json
  Apps/GatewayApi/test/unit/Services.Test/UserEmailServiceTests.cs
  Apps/GatewayApi/test/unit/Services.Test/UserProfileServiceTests.cs
  Apps/GatewayApi/test/unit/Services.Test/UserSmsServiceTests.cs
  Apps/GatewayApi/test/unit/UnitTest.json
  Apps/JobScheduler/src/Jobs/CloseAccountJob.cs
Labels: unit tests, ready

#5749 Ensure audit reason dialog handles errors for AB#16395.
  Apps/Admin/Client/Components/AgentAudit/AuditReasonDialog.razor
  Apps/Admin/Client/Components/AgentAudit/AuditReasonDialog.razor.cs
  Apps/Admin/Tests/Functional/cypress/integration/ui/patient-details.cy.js
Labels: bugfix, .NET, functional tests, ready
