Repository bcgov/healthgateway, pull requests merged in 2024-04, with the labels that each got.

#6100 Simplified unit tests for AB#16694.
  Apps/Admin/Tests/Services/BetaFeatureServiceTests.cs
Labels: .NET, unit tests, ready

#6101 Add coverage to remaining admin services for AB#16674.
  Apps/Admin/Server/Services/InactiveUserService.cs
  Apps/Admin/Server/Services/UserFeedbackService.cs
  Apps/Admin/Tests/Services/AdminReportServiceTests.cs
  Apps/Admin/Tests/Services/AgentAccessServiceTests.cs
  Apps/Admin/Tests/Services/DashboardServiceTests.cs
  Apps/Admin/Tests/Services/InactiveUserServiceTests.cs
  Apps/Admin/Tests/Services/UserFeedbackServiceTests.cs
  Apps/Admin/Tests/Utils/MapperUtil.cs
  Apps/Admin/Tests/Utils/RefitExceptionUtil.cs
Labels: .NET, unit tests, ready

#6105 Add functional tests for beta site alert AB#16695
  Apps/Admin/Client/Pages/BetaAccessPage.razor.cs
  Apps/Admin/Tests/Functional/cypress/integration/e2e/beta-access.cy.js
  Apps/Database/src/Delegates/DbProfileDelegate.cs
  Apps/GatewayApi/src/Services/UserEmailService.cs
  Testing/functional/tests/cypress/db/seed.sql
  Testing/functional/tests/cypress/integration/e2e/user/betaFeatures.js
Labels: functional tests, ready

#6111 Add link to beta site on home page AB#16678
  Apps/Admin/Client/Pages/BetaAccessPage.razor.cs
  Apps/Admin/Common/Constants/BetaFeature.cs
  Apps/Admin/Server/MapProfiles/BetaFeatureProfile.cs
  Apps/Admin/Server/Program.cs
  Apps/Admin/Server/Services/SupportService.cs
  Apps/Admin/Server/Services/UserFeedbackService.cs
  Apps/Admin/Tests/Functional/cypress/integration/e2e/beta-access.cy.js
  Apps/Admin/Tests/Services/BetaFeatureServiceTests.cs
  Apps/Admin/Tests/Services/SupportServiceTests.cs
  Apps/Admin/Tests/Services/UserFeedbackServiceTests.cs
  Apps/AdminWebClient/src/Server/Services/SupportService.cs
  Apps/AdminWebClient/src/Server/Startup.cs
  Apps/AdminWebClient/test/unit/Services.Test/SupportServiceTests.cs
  Apps/Common/src/Services/CommonMappingService.cs
  Apps/Common/src/Services/ICommonMappingService.cs
  Apps/Database/src/Delegates/DbProfileDelegate.cs
  Apps/Database/src/Delegates/IUserProfileDelegate.cs
  Apps/GatewayApi/src/Constants/BetaFeature.cs
  Apps/GatewayApi/src/Controllers/UserProfileController.cs
  Apps/GatewayApi/src/MapProfiles/UserProfileProfile.cs
  Apps/GatewayApi/src/Models/UserProfileModel.cs
  Apps/GatewayApi/src/Services/CommentService.cs
  Apps/GatewayApi/src/Services/DependentService.cs
  Apps/GatewayApi/src/Services/IUserProfileService.cs
  Apps/GatewayApi/src/Services/NoteService.cs
  Apps/GatewayApi/src/Services/UserEmailService.cs
  Apps/GatewayApi/src/Services/UserFeedbackService.cs
  Apps/GatewayApi/src/Services/UserProfileService.cs
  Apps/GatewayApi/src/Services/UserSmsService.cs
  Apps/GatewayApi/src/Startup.cs
  Apps/GatewayApi/test/unit/Controllers.Test/UserProfileControllerTests.cs
  Apps/GatewayApi/test/unit/Services.Test/CommentServiceTests.cs
  Apps/GatewayApi/test/unit/Services.Test/DependentServiceTests.cs
  Apps/GatewayApi/test/unit/Services.Test/Mock/UserProfileDelegateMock.cs
  Apps/GatewayApi/test/unit/Services.Test/Mock/UserProfileServiceMock.cs
  Apps/GatewayApi/test/unit/Services.Test/NoteServiceTests.cs
  Apps/GatewayApi/test/unit/Services.Test/UserEmailServiceTests.cs
  Apps/GatewayApi/test/unit/Services.Test/UserFeedbackServiceTests.cs
  Apps/GatewayApi/test/unit/Services.Test/UserProfileServiceTests.cs
  Apps/GatewayApi/test/unit/Services.Test/UserSmsServiceTests.cs
  Apps/GatewayApi/test/unit/Services.Test/WebAlertServiceTests.cs
  Apps/GatewayApi/test/unit/Utils/MapperUtil.cs
  Apps/WebClient/src/ClientApp/src/components/private/home/HomeView.vue
  Apps/WebClient/src/ClientApp/src/constants/betaFeature.ts
  Apps/WebClient/src/ClientApp/src/models/configData.ts
  Apps/WebClient/src/ClientApp/src/models/user.ts
  Apps/WebClient/src/ClientApp/src/models/userProfile.ts
  Apps/WebClient/src/ClientApp/src/stores/user.ts
  Apps/WebClient/src/Server/Models/WebClientConfiguration.cs
  Apps/WebClient/src/appsettings.Development.json
  Apps/WebClient/src/appsettings.hgdev.json
  Apps/WebClient/src/appsettings.hgmock.json
  Apps/WebClient/src/appsettings.hgpoc.json
  Apps/WebClient/src/appsettings.hgtest.json
  Apps/WebClient/src/appsettings.json
  Testing/functional/tests/cypress/db/seed.sql
  Testing/functional/tests/cypress/integration/e2e/user/betaFeatures.js
Labels: ready, user story

#6112 Fix sonar cloud code smells in admin for AB#16707.
  Apps/Admin/Server/Services/AdminReportService.cs
  Apps/Admin/Server/Services/AgentAccessService.cs
  Apps/Admin/Server/Services/BetaFeatureService.cs
  Apps/Admin/Server/Services/BroadcastService.cs
  Apps/Admin/Tests/Services/DashboardServiceTests.cs
  Apps/Admin/Tests/Services/InactiveUserServiceTests.cs
Labels: .NET, unit tests, ready

#6113 Fix failed tests due to email verified changes in seed script AB#16665.
  Apps/WebClient/src/ClientApp/src/components/site/FeedbackComponent.vue
  Testing/functional/tests/cypress/integration/e2e/user/feedback.js
  Testing/functional/tests/cypress/integration/ui/errors/errorAlerts.js
Labels: bugfix, functional tests, ready

#6120 Add ApiExceptionHandler for uncaught Refit exceptions AB#16705
  Apps/Common/src/AspNetConfiguration/Modules/ExceptionHandling.cs
  Apps/Common/src/ErrorHandling/ExceptionHandlers/ApiExceptionHandler.cs
  Apps/Common/src/ErrorHandling/ExceptionHandlers/DefaultExceptionHandler.cs
  Apps/Common/src/ErrorHandling/ExceptionHandlers/ValidationExceptionHandler.cs
Labels: ready

#6131 Resolve build warnings AB#16712
  Apps/GatewayApi/test/unit/Controllers.Test/CommunicationControllerTests.cs
  Apps/GatewayApi/test/unit/Services.Test/GatewayApiCommunicationServiceTests.cs
Labels: bugfix, ready

#6130 Ensure input is cleared before typing new value to query for AB#16711.
  Apps/Admin/Tests/Functional/cypress/integration/e2e/beta-access.cy.js
Labels: bugfix, functional tests, ready

#6133 Update beta site link to open in same tab AB#16713
  Apps/WebClient/src/ClientApp/src/components/private/home/HomeView.vue
Labels: ready

#6135 Fix clear input issue for AB#16714.
  Apps/Admin/Tests/Functional/cypress/integration/e2e/beta-access.cy.js
Labels: bugfix, functional tests, ready

#6153 Increase GatewayApi and PatientDataAccess Code Coverage
  Apps/Admin/Server/Services/CommunicationService.cs
  Apps/GatewayApi/test/unit/Services.Test/PatientDetailsServiceTests.cs
  Apps/GatewayApi/test/unit/Services.Test/UserProfileServiceTests.cs
  Apps/GatewayApi/test/unit/Utils/MapperUtil.cs
  Apps/WebClient/test/unit/Services/ConfigurationServiceTests.cs
Labels: .NET, unit tests, ready

#6154 Increase code coverage in Common project AB#16659
  .editorconfig
  Apps/AccountDataAccess/src/Patient/Address.cs
  Apps/AccountDataAccess/test/unit/AccountDataAccessTests.csproj
  Apps/Admin/Client/Layouts/MainLayout.razor
  Apps/Common/src/AspNetConfiguration/Modules/HttpWeb.cs
  Apps/Common/src/AssemblyInfo.cs
  Apps/Common/src/Auditing/AuditLogger.cs
  Apps/Common/src/Common.csproj
  Apps/Common/src/ErrorHandling/Exceptions/AlreadyExistsException.cs
  Apps/Common/src/ErrorHandling/Exceptions/DatabaseException.cs
  Apps/Common/src/ErrorHandling/Exceptions/HealthGatewayException.cs
  Apps/Common/src/ErrorHandling/Exceptions/InvalidDataException.cs
  Apps/Common/src/ErrorHandling/Exceptions/NotFoundException.cs
  Apps/Common/src/ErrorHandling/Exceptions/UpstreamServiceException.cs
  Apps/Common/src/Messaging/AzureServiceBus.cs
  Apps/Common/src/Messaging/ConfigurationExtensions.cs
  Apps/Common/src/Messaging/MessageBase.cs
  Apps/Common/src/Services/IPatientService.cs
  Apps/Common/src/Services/PatientService.cs
  Apps/Common/src/Utils/PolymorphicJsonConverter.cs
  Apps/Common/test/unit/AccessManagement/Authentication/AuthenticationDelegateTests.cs
  Apps/Common/test/unit/AccessManagement/Authorization/PersonalAccessHandlerTests.cs
  Apps/Common/test/unit/AccessManagement/Authorization/UserDelegatedAccessHandlerTests.cs
  Apps/Common/test/unit/Auditing/DbAuditLoggerTests.cs
  Apps/Common/test/unit/ErrorHandling/ExceptionHandlerTests.cs
  Apps/Common/test/unit/Messaging/AzureServiceBusTests.cs
  Apps/Common/test/unit/Messaging/DbOutboxStoreTests.cs
  Apps/Common/test/unit/Messaging/OutboxMessageSenderTests.cs
  Apps/Common/test/unit/Services/AccessTokenServiceTests.cs
  Apps/Common/test/unit/Services/CommunicationServiceTests.cs
  Apps/Common/test/unit/Services/PatientServiceTests.cs
  Apps/Patient/src/Patient.csproj
Labels: unit tests, ready

#6155 Exclude records from Code coverage for AB#16719
  Apps/AccountDataAccess/src/Patient/Strategy/PatientQueryStrategy.cs
  Apps/Common/src/AccessManagement/Authentication/AuthenticationDelegate.cs
  Apps/Common/src/Delegates/CDogsDelegate.cs
  Apps/Common/src/Delegates/ClientRegistriesDelegate.cs
  Apps/Common/src/Delegates/PHSA/RestNotificationSettingsDelegate.cs
  Apps/Common/src/Delegates/PHSA/RestTokenSwapDelegate.cs
  Apps/Common/src/Delegates/VaccineProofDelegate.cs
  Apps/Common/src/Services/CommunicationService.cs
  Apps/Common/src/Services/PersonalAccountsService.cs
  Apps/Patient/src/Services/IPatientDataService.cs
  Apps/PatientDataAccess/src/Api/HealthDataEntry.cs
  Apps/PatientDataAccess/src/Api/HealthOptionsData.cs
  Apps/PatientDataAccess/src/Api/IPatientApi.cs
  Apps/PatientDataAccess/src/HealthData.cs
  Apps/PatientDataAccess/src/HealthServiceData.cs
  Apps/PatientDataAccess/src/IPatientDataRepository.cs
Labels: .NET, unit tests, ready
