Repository bcgov/healthgateway, pull requests merged in 2024-03, with the labels that each got.

#6057 Increase unit test code coverage and fix sonar code smells
  Apps/Immunization/src/Models/ImmunizationResult.cs
  Apps/Immunization/test/unit/Controllers.Test/ImmunizationControllerTests.cs
  Apps/Immunization/test/unit/Delegates.Test/ImmunizationDelegateTests.cs
  Apps/Immunization/test/unit/Services.Test/ImmunizationServiceTests.cs
  Apps/Immunization/test/unit/Services.Test/VaccineStatusServiceTests.cs
Labels: .NET, unit tests, ready

#6059 Increase code coverage and fix sonar cloud smells for Patient and Medication for AB#16663
  Apps/Medication/test/unit/Controllers/MedicationControllerTests.cs
  Apps/Medication/test/unit/Controllers/MedicationStatementControllerTests.cs
  Apps/Medication/test/unit/Delegates/MedicationDelegateTests.cs
  Apps/Medication/test/unit/Delegates/SalesforceMedicationRequestDelegateTests.cs
  Apps/Medication/test/unit/Services/MedicationRequestServiceTests.cs
  Apps/Medication/test/unit/Services/MedicationServiceTests.cs
  Apps/Medication/test/unit/Services/MedicationStatementServiceTests.cs
  Apps/Patient/src/Services/PatientDataService.cs
  Apps/Patient/test/unit/Services/PatientServiceTests.cs
Labels: .NET, unit tests, ready

#6066 Increase code coverage AB#16671 AB#16658
  Apps/Encounter/test/unit/Services/EncounterServiceTests.cs
  Apps/GatewayApi/test/unit/Services.Test/DependentServiceTests.cs
  Apps/GatewayApi/test/unit/Validations/PhoneNumberValidatorTests.cs
Labels: unit tests, ready

#6067 Increase code coverage for admin for AB#16672
  Apps/Admin/Server/Services/CovidSupportService.cs
  Apps/Admin/Tests/Services/CommunicationServiceTests.cs
  Apps/Admin/Tests/Services/ConfigurationServiceTests.cs
  Apps/Admin/Tests/Services/CovidSupportServiceTests.cs
  Apps/Admin/Tests/Services/CsvExportServiceTests.cs
  Apps/Admin/Tests/Services/DelegationServiceTests.cs
  Apps/Admin/Tests/Services/SupportServiceTests.cs
  Apps/Admin/Tests/Utils/MapperUtil.cs
Labels: .NET, unit tests, ready

#6068 Update links on timeline AB#16680 AB#16697
  Apps/WebClient/src/ClientApp/src/components/private/timeline/TimelineComponent.vue
  Apps/WebClient/src/ClientApp/src/components/private/timeline/entry/LabResultTimelineComponent.vue
Labels: ready

#6070 Fixed code smell in logging statement for AB#16699.
  Apps/Admin/Server/Services/CovidSupportService.cs
Labels: bugfix, .NET, ready

#6072 Re-run migrations for AB#16700.
  Apps/Database/src/Migrations/20240311223025_CreateBetaFeatureAccessTable.Designer.cs
  Apps/Database/src/Migrations/20240311223025_CreateBetaFeatureAccessTable.cs
Labels: .NET, ready

#6077 Update test to download attachments from specific card AB#16701
  Testing/functional/tests/cypress/integration/e2e/timeline/diagnosticImaging.js
Labels: bugfix, functional tests, ready

#6078 Add controller and service for beta feature access.
  Apps/Admin/Common/Constants/BetaFeature.cs
  Apps/Admin/Common/Models/BetaFeatureAccess.cs
  Apps/Admin/Common/Models/BetaFeatureRequest.cs
  Apps/Admin/Server/Controllers/BetaFeatureController.cs
  Apps/Admin/Server/MapProfiles/BetaFeatureAccessProfile.cs
  Apps/Admin/Server/Program.cs
  Apps/Admin/Server/Services/AdminServerMappingService.cs
  Apps/Admin/Server/Services/BetaFeatureService.cs
  Apps/Admin/Server/Services/IAdminServerMappingService.cs
  Apps/Admin/Server/Services/IBetaFeatureService.cs
  Apps/Database/src/Context/GatewayDbContext.cs
  Apps/Database/src/Delegates/DbBetaFeatureAccessDelegate.cs
  Apps/Database/src/Delegates/DbProfileDelegate.cs
  Apps/Database/src/Delegates/IBetaFeatureAccessDelegate.cs
  Apps/Database/src/Delegates/IUserProfileDelegate.cs
  Apps/Database/src/Migrations/20240313200110_CreateBetaFeatureAccessTable.Designer.cs
  Apps/Database/src/Migrations/20240313200110_CreateBetaFeatureAccessTable.cs
  Apps/Database/src/Migrations/GatewayDbContextModelSnapshot.cs
  Apps/Database/src/Models/BetaFeatureAccess.cs
  Apps/Database/src/Models/BetaFeatureCode.cs
Labels: enhancement, .NET, ready

#6081 Add unit tests and fixed bug for BetaFeatureService for AB#16689
  Apps/Admin/Server/MapProfiles/BetaFeatureProfile.cs
  Apps/Admin/Server/Services/BetaFeatureService.cs
  Apps/Admin/Tests/Services/BetaFeatureServiceTests.cs
  Apps/Admin/Tests/Utils/MapperUtil.cs
Labels: .NET, unit tests, ready

#6085 Show exception for print vaccine card in patient details admin for AB#16703.
  Apps/Admin/Client/Pages/PatientDetailsPage.razor
  Apps/Admin/Client/Pages/PatientDetailsPage.razor.cs
  Apps/Admin/Tests/Functional/cypress/integration/ui/patient-details.cy.js
Labels: bugfix, .NET, ready, UI

#6090 Add new beta access page to admin site AB#16688
  Apps/Admin/Client/Api/IBetaFeatureApi.cs
  Apps/Admin/Client/Components/BetaAccess/BetaAccessTable.razor
  Apps/Admin/Client/Components/BetaAccess/BetaAccessTable.razor.cs
  Apps/Admin/Client/Components/Site/NavMenu.razor
  Apps/Admin/Client/Pages/BetaAccessPage.razor
  Apps/Admin/Client/Pages/BetaAccessPage.razor.cs
  Apps/Admin/Client/Program.cs
  Apps/Admin/Client/Store/BaseRequestState.cs
  Apps/Admin/Client/Store/BetaAccess/BetaAccessActions.cs
  Apps/Admin/Client/Store/BetaAccess/BetaAccessEffects.cs
  Apps/Admin/Client/Store/BetaAccess/BetaAccessReducers.cs
  Apps/Admin/Client/Store/BetaAccess/BetaAccessState.cs
  Apps/Admin/Common/Models/BetaFeatureRequest.cs
  Apps/Admin/Common/Models/UserBetaAccess.cs
  Apps/Admin/Server/Controllers/BetaFeatureController.cs
  Apps/Admin/Server/Services/AdminServerMappingService.cs
  Apps/Admin/Server/Services/BetaFeatureService.cs
  Apps/Admin/Server/Services/IAdminServerMappingService.cs
  Apps/Admin/Server/Services/IBetaFeatureService.cs
  Apps/Admin/Tests/Services/BetaFeatureServiceTests.cs
  Apps/CommonData/src/Validations/NaiveEmailValidator.cs
  Apps/CommonData/test/unit/Utils/NaiveEmailValidatorTests.cs
Labels: ready

#6092 Add functional tests for beta feature access for AB#16690.
  Apps/Admin/Tests/Functional/cypress/integration/e2e/beta-access.cy.js
  Apps/Admin/Tests/Functional/cypress/integration/e2e/patient-details.cy.js
  Testing/functional/tests/cypress/db/seed.sql
Labels: functional tests, ready

#6097 Add alert to access beta site AB#16691 AB#16692 AB#16693
  Apps/Admin/Common/Constants/BetaFeature.cs
  Apps/Admin/Server/MapProfiles/BetaFeatureProfile.cs
  Apps/Admin/Server/Program.cs
  Apps/Admin/Server/Services/SupportService.cs
  Apps/Admin/Server/Services/UserFeedbackService.cs
  Apps/Admin/Tests/Services/SupportServiceTests.cs
  Apps/AdminWebClient/src/Server/Services/SupportService.cs
  Apps/AdminWebClient/src/Server/Startup.cs
  Apps/AdminWebClient/test/unit/Services.Test/SupportServiceTests.cs
  Apps/Common/src/Services/CommonMappingService.cs
  Apps/Common/src/Services/ICommonMappingService.cs
  Apps/Database/src/Delegates/DbProfileDelegate.cs
  Apps/Database/src/Delegates/IUserProfileDelegate.cs
  Apps/GatewayApi/src/Constants/BetaFeature.cs
  Apps/GatewayApi/src/Controllers/UserProfileController.cs
  Apps/GatewayApi/src/MapProfiles/UserProfileProfile.cs
  Apps/GatewayApi/src/Models/UserProfileModel.cs
  Apps/GatewayApi/src/Services/CommentService.cs
  Apps/GatewayApi/src/Services/DependentService.cs
  Apps/GatewayApi/src/Services/IUserProfileService.cs
  Apps/GatewayApi/src/Services/NoteService.cs
  Apps/GatewayApi/src/Services/UserEmailService.cs
  Apps/GatewayApi/src/Services/UserFeedbackService.cs
  Apps/GatewayApi/src/Services/UserProfileService.cs
  Apps/GatewayApi/src/Services/UserSmsService.cs
  Apps/GatewayApi/src/Startup.cs
  Apps/GatewayApi/test/unit/Controllers.Test/UserProfileControllerTests.cs
  Apps/GatewayApi/test/unit/Services.Test/CommentServiceTests.cs
  Apps/GatewayApi/test/unit/Services.Test/DependentServiceTests.cs
  Apps/GatewayApi/test/unit/Services.Test/Mock/UserProfileDelegateMock.cs
  Apps/GatewayApi/test/unit/Services.Test/Mock/UserProfileServiceMock.cs
  Apps/GatewayApi/test/unit/Services.Test/NoteServiceTests.cs
  Apps/GatewayApi/test/unit/Services.Test/UserEmailServiceTests.cs
  Apps/GatewayApi/test/unit/Services.Test/UserFeedbackServiceTests.cs
  Apps/GatewayApi/test/unit/Services.Test/UserProfileServiceTests.cs
  Apps/GatewayApi/test/unit/Services.Test/UserSmsServiceTests.cs
  Apps/GatewayApi/test/unit/Services.Test/WebAlertServiceTests.cs
  Apps/GatewayApi/test/unit/Utils/MapperUtil.cs
  Apps/WebClient/src/ClientApp/src/components/private/home/HomeView.vue
  Apps/WebClient/src/ClientApp/src/constants/betaFeature.ts
  Apps/WebClient/src/ClientApp/src/models/configData.ts
  Apps/WebClient/src/ClientApp/src/models/user.ts
  Apps/WebClient/src/ClientApp/src/models/userProfile.ts
  Apps/WebClient/src/ClientApp/src/stores/user.ts
  Apps/WebClient/src/Server/Models/WebClientConfiguration.cs
  Apps/WebClient/src/appsettings.Development.json
  Apps/WebClient/src/appsettings.hgdev.json
  Apps/WebClient/src/appsettings.hgmock.json
  Apps/WebClient/src/appsettings.hgpoc.json
  Apps/WebClient/src/appsettings.hgtest.json
  Apps/WebClient/src/appsettings.json
Labels: ready, UI
