Repository bcgov/healthgateway, pull requests merged in 2024-05, with the labels that each got.

#6163 Improve cypress test performance for AB#16726.
  Testing/functional/tests/cypress/fixtures/CommunicationService/communicationBanner.json
  Testing/functional/tests/cypress/fixtures/CommunicationService/communicationInApp.json
  Testing/functional/tests/cypress/fixtures/PatientService/patientCombinedAddress.json
  Testing/functional/tests/cypress/fixtures/PatientService/patientUnregistered.json
  Testing/functional/tests/cypress/fixtures/UserProfileService/commentNoResult.json
  Testing/functional/tests/cypress/fixtures/UserProfileService/termsOfService.json
  Testing/functional/tests/cypress/fixtures/UserProfileService/userProfileQuickLinks.json
  Testing/functional/tests/cypress/integration/ui/covid19/authenticatedPcrTest.js
  Testing/functional/tests/cypress/integration/ui/covid19/authenticatedPcrTestWithTestKit.js
  Testing/functional/tests/cypress/integration/ui/covid19/authenticatedVaccineCard.js
  Testing/functional/tests/cypress/integration/ui/covid19/federalProofOfVaccination.js
  Testing/functional/tests/cypress/integration/ui/errors/errorAlerts.js
  Testing/functional/tests/cypress/integration/ui/errors/tooManyRequestsAlerts.js
  Testing/functional/tests/cypress/integration/ui/pages/Routes.js
  Testing/functional/tests/cypress/integration/ui/pages/home.js
  Testing/functional/tests/cypress/integration/ui/report/immunizationReport.js
  Testing/functional/tests/cypress/integration/ui/report/reportFiltering.js
  Testing/functional/tests/cypress/integration/ui/report/reportSorting.js
  Testing/functional/tests/cypress/integration/ui/services/menu.js
  Testing/functional/tests/cypress/integration/ui/services/organDonorRegistration.js
  Testing/functional/tests/cypress/integration/ui/services/view.js
  Testing/functional/tests/cypress/integration/ui/timeline/bcCancerScreening.js
  Testing/functional/tests/cypress/integration/ui/timeline/encounter.js
  Testing/functional/tests/cypress/integration/ui/timeline/errors.js
  Testing/functional/tests/cypress/integration/ui/timeline/filter.js
  Testing/functional/tests/cypress/integration/ui/timeline/immunization.js
  Testing/functional/tests/cypress/integration/ui/timeline/medicationrequest.js
  Testing/functional/tests/cypress/integration/ui/timeline/menu.js
  Testing/functional/tests/cypress/integration/ui/timeline/mobile/clinicalDocument.js
  Testing/functional/tests/cypress/integration/ui/timeline/mobile/covid19Order.js
  Testing/functional/tests/cypress/integration/ui/timeline/mobile/immunization.js
  Testing/functional/tests/cypress/integration/ui/timeline/mobile/laboratoryOrder.js
  Testing/functional/tests/cypress/integration/ui/timeline/mobile/laboratoryOrderReport.js
  Testing/functional/tests/cypress/integration/ui/timeline/mobile/medication.js
  Testing/functional/tests/cypress/integration/ui/user/acceptTermsOfService.js
  Testing/functional/tests/cypress/integration/ui/user/appTour.js
  Testing/functional/tests/cypress/integration/ui/user/dependents.js
  Testing/functional/tests/cypress/integration/ui/user/emailValidation.js
  Testing/functional/tests/cypress/integration/ui/user/notificationCentre.js
  Testing/functional/tests/cypress/integration/ui/user/profile.js
  Testing/functional/tests/cypress/support/functions/intercept.js
Labels: bugfix, functional tests, ready

#6165 Update text on beta site alert AB#16728
  Apps/WebClient/src/ClientApp/src/components/private/home/HomeView.vue
Labels: ready

#6167 Comment out dependent laboratory related tests for AB#16730.
  Testing/functional/tests/cypress/integration/e2e/dependent/report.js
  Testing/functional/tests/cypress/integration/e2e/timeline/dependent.js
  Testing/functional/tests/cypress/integration/e2e/user/dependents.js
  Testing/functional/tests/cypress/integration/e2e/user/notificationCentre.js
  Testing/functional/tests/cypress/support/functions/intercept.js
Labels: bugfix, functional tests, ready

#6169 Add wait to standard intercepts on login for AB#16731.
  Testing/functional/tests/cypress/integration/e2e/pages/breadcrumbs.js
  Testing/functional/tests/cypress/integration/e2e/user/dependents.js
  Testing/functional/tests/cypress/integration/e2e/user/notificationCentre.js
  Testing/functional/tests/cypress/integration/ui/covid19/authenticatedPcrTest.js
  Testing/functional/tests/cypress/integration/ui/covid19/authenticatedPcrTestWithTestKit.js
  Testing/functional/tests/cypress/integration/ui/covid19/authenticatedVaccineCard.js
  Testing/functional/tests/cypress/integration/ui/covid19/federalProofOfVaccination.js
  Testing/functional/tests/cypress/integration/ui/errors/errorAlerts.js
  Testing/functional/tests/cypress/integration/ui/errors/tooManyRequestsAlerts.js
  Testing/functional/tests/cypress/integration/ui/pages/Routes.js
  Testing/functional/tests/cypress/integration/ui/pages/home.js
  Testing/functional/tests/cypress/integration/ui/report/immunizationReport.js
  Testing/functional/tests/cypress/integration/ui/report/reportFiltering.js
  Testing/functional/tests/cypress/integration/ui/report/reportSorting.js
  Testing/functional/tests/cypress/integration/ui/services/menu.js
  Testing/functional/tests/cypress/integration/ui/services/organDonorRegistration.js
  Testing/functional/tests/cypress/integration/ui/services/view.js
  Testing/functional/tests/cypress/integration/ui/timeline/bcCancerScreening.js
  Testing/functional/tests/cypress/integration/ui/timeline/encounter.js
  Testing/functional/tests/cypress/integration/ui/timeline/errors.js
  Testing/functional/tests/cypress/integration/ui/timeline/filter.js
  Testing/functional/tests/cypress/integration/ui/timeline/immunization.js
  Testing/functional/tests/cypress/integration/ui/timeline/medicationrequest.js
  Testing/functional/tests/cypress/integration/ui/timeline/menu.js
  Testing/functional/tests/cypress/integration/ui/timeline/mobile/clinicalDocument.js
  Testing/functional/tests/cypress/integration/ui/timeline/mobile/covid19Order.js
  Testing/functional/tests/cypress/integration/ui/timeline/mobile/immunization.js
  Testing/functional/tests/cypress/integration/ui/timeline/mobile/laboratoryOrder.js
  Testing/functional/tests/cypress/integration/ui/timeline/mobile/laboratoryOrderReport.js
  Testing/functional/tests/cypress/integration/ui/timeline/mobile/medication.js
  Testing/functional/tests/cypress/integration/ui/user/acceptTermsOfService.js
  Testing/functional/tests/cypress/integration/ui/user/appTour.js
  Testing/functional/tests/cypress/integration/ui/user/dependents.js
  Testing/functional/tests/cypress/integration/ui/user/emailValidation.js
  Testing/functional/tests/cypress/integration/ui/user/notificationCentre.js
  Testing/functional/tests/cypress/integration/ui/user/profile.js
  Testing/functional/tests/cypress/support/commands.js
  Testing/functional/tests/cypress/support/functions/intercept.js
Labels: bugfix, functional tests, ready

#6173 End-of-sprint merge to master
  Testing/functional/tests/cypress/integration/e2e/pages/breadcrumbs.js
  Testing/functional/tests/cypress/integration/e2e/user/dependents.js
  Testing/functional/tests/cypress/integration/e2e/user/notificationCentre.js
  Testing/functional/tests/cypress/integration/ui/covid19/authenticatedPcrTest.js
  Testing/functional/tests/cypress/integration/ui/covid19/authenticatedPcrTestWithTestKit.js
  Testing/functional/tests/cypress/integration/ui/covid19/authenticatedVaccineCard.js
  Testing/functional/tests/cypress/integration/ui/covid19/federalProofOfVaccination.js
  Testing/functional/tests/cypress/integration/ui/errors/errorAlerts.js
  Testing/functional/tests/cypress/integration/ui/errors/tooManyRequestsAlerts.js
  Testing/functional/tests/cypress/integration/ui/pages/Routes.js
  Testing/functional/tests/cypress/integration/ui/pages/home.js
  Testing/functional/tests/cypress/integration/ui/report/immunizationReport.js
  Testing/functional/tests/cypress/integration/ui/report/reportFiltering.js
  Testing/functional/tests/cypress/integration/ui/report/reportSorting.js
  Testing/functional/tests/cypress/integration/ui/services/menu.js
  Testing/functional/tests/cypress/integration/ui/services/organDonorRegistration.js
  Testing/functional/tests/cypress/integration/ui/services/view.js
  Testing/functional/tests/cypress/integration/ui/timeline/bcCancerScreening.js
  Testing/functional/tests/cypress/integration/ui/timeline/encounter.js
  Testing/functional/tests/cypress/integration/ui/timeline/errors.js
  Testing/functional/tests/cypress/integration/ui/timeline/filter.js
  Testing/functional/tests/cypress/integration/ui/timeline/immunization.js
  Testing/functional/tests/cypress/integration/ui/timeline/medicationrequest.js
  Testing/functional/tests/cypress/integration/ui/timeline/menu.js
  Testing/functional/tests/cypress/integration/ui/timeline/mobile/clinicalDocument.js
  Testing/functional/tests/cypress/integration/ui/timeline/mobile/covid19Order.js
  Testing/functional/tests/cypress/integration/ui/timeline/mobile/immunization.js
  Testing/functional/tests/cypress/integration/ui/timeline/mobile/laboratoryOrder.js
  Testing/functional/tests/cypress/integration/ui/timeline/mobile/laboratoryOrderReport.js
  Testing/functional/tests/cypress/integration/ui/timeline/mobile/medication.js
  Testing/functional/tests/cypress/integration/ui/user/acceptTermsOfService.js
  Testing/functional/tests/cypress/integration/ui/user/appTour.js
  Testing/functional/tests/cypress/integration/ui/user/dependents.js
  Testing/functional/tests/cypress/integration/ui/user/emailValidation.js
  Testing/functional/tests/cypress/integration/ui/user/notificationCentre.js
  Testing/functional/tests/cypress/integration/ui/user/profile.js
  Testing/functional/tests/cypress/support/commands.js
  Testing/functional/tests/cypress/support/functions/intercept.js
  Tools/KeyCloak/Terraform/authflows.tf
Labels: ready

#6175 Update covid treatment assessment questions for AB#16738.
  Apps/Admin/Client/Pages/Covid19TreatmentAssessmentPage.razor
  Apps/Admin/Tests/Functional/cypress/integration/e2e/patient-details.cy.js
Labels: .NET, functional tests, ready, UI

#6176 Update admin dashboard to show android and ios counts for AB#16735
  Apps/Admin/Client/Pages/DashboardPage.razor
  Apps/Admin/Client/Pages/DashboardPage.razor.cs
  Apps/Admin/Common/Models/AppLoginCounts.cs
  Apps/Admin/Server/Services/DashboardService.cs
  Apps/Admin/Tests/Functional/cypress/fixtures/DashboardService/all-time-counts.json
  Apps/Admin/Tests/Functional/cypress/fixtures/DashboardService/daily-usage-counts.json
  Apps/Admin/Tests/Functional/cypress/integration/e2e/dashboard.cy.js
  Apps/Admin/Tests/Functional/cypress/integration/ui/dashboard.cy.js
  Apps/Admin/Tests/Functional/package-lock.json
  Apps/Admin/Tests/Functional/package.json
  Testing/functional/tests/cypress/db/seed.sql
Labels: .NET, functional tests, ready, UI

#6177 Delete answers to no longer asked questions in payload or AB#16739.
  Apps/Admin/Common/Models/CovidSupport/CovidAssessmentRequest.cs
Labels: bugfix, .NET, ready

#6178 Fix flakiness in functional tests for AB#16740
  Testing/functional/tests/cypress/integration/e2e/pages/Registration.js
  Testing/functional/tests/cypress/integration/e2e/report/report.js
  Testing/functional/tests/cypress/support/functions/intercept.js
Labels: bugfix, functional tests, ready

#6182 Fix ShouldDeepEqual implementation for AB#16742.
  Apps/AccountDataAccess/test/unit/AuditRepositoryTests.cs
  Apps/AccountDataAccess/test/unit/ClientRegistriesDelegateTests.cs
  Apps/AccountDataAccess/test/unit/PatientMappingsTests.cs
  Apps/AccountDataAccess/test/unit/PatientRepositoryTests.cs
  Apps/AccountDataAccess/test/unit/Strategy/CacheProviderTests.cs
  Apps/AccountDataAccess/test/unit/Strategy/HdidAllStrategyTests.cs
  Apps/AccountDataAccess/test/unit/Strategy/HdidEmpiStrategyTests.cs
  Apps/AccountDataAccess/test/unit/Strategy/HdidPhsaStrategyTests.cs
  Apps/AccountDataAccess/test/unit/Strategy/PhnEmpiStrategyTests.cs
  Apps/Admin/Tests/Services/AdminReportServiceTests.cs
  Apps/Admin/Tests/Services/AgentAccessServiceTests.cs
  Apps/Admin/Tests/Services/CommunicationServiceTests.cs
  Apps/Admin/Tests/Services/CsvExportServiceTests.cs
  Apps/Admin/Tests/Services/DashboardServiceTests.cs
  Apps/Admin/Tests/Services/DelegationServiceTests.cs
  Apps/Admin/Tests/Services/InactiveUserServiceTests.cs
  Apps/Admin/Tests/Services/UserFeedbackServiceTests.cs
  Apps/Common/test/unit/AccessManagement/Authentication/AuthenticationDelegateTests.cs
  Apps/Common/test/unit/Auditing/DbAuditLoggerTests.cs
  Apps/Common/test/unit/Delegates/AesCryptoDelegateTests.cs
  Apps/Common/test/unit/Delegates/CDogsDelegateTests.cs
  Apps/Common/test/unit/Delegates/ClientRegistriesDelegateTests.cs
  Apps/Common/test/unit/Delegates/HmacHashDelegateTests.cs
  Apps/Common/test/unit/Delegates/NotificationSettingsDelegateTests.cs
  Apps/Encounter/test/unit/Services/EncounterServiceTests.cs
  Apps/GatewayApi/test/unit/Controllers.Test/CommentControllerTests.cs
  Apps/GatewayApi/test/unit/Controllers.Test/CommunicationControllerTests.cs
  Apps/GatewayApi/test/unit/Controllers.Test/DependentControllerTests.cs
  Apps/GatewayApi/test/unit/Controllers.Test/NoteControllerTests.cs
  Apps/GatewayApi/test/unit/Controllers.Test/PhsaControllerTests.cs
  Apps/GatewayApi/test/unit/Controllers.Test/ReportControllerTests.cs
  Apps/GatewayApi/test/unit/Controllers.Test/UserFeedbackControllerTests.cs
  Apps/GatewayApi/test/unit/Controllers.Test/UserProfileControllerTests.cs
  Apps/GatewayApi/test/unit/Services.Test/CommentServiceTests.cs
  Apps/GatewayApi/test/unit/Services.Test/GatewayApiCommunicationServiceTests.cs
  Apps/GatewayApi/test/unit/Services.Test/LegalAgreementServiceTests.cs
  Apps/GatewayApi/test/unit/Services.Test/NoteServiceTests.cs
  Apps/GatewayApi/test/unit/Services.Test/PatientDetailsServiceTests.cs
  Apps/GatewayApi/test/unit/Services.Test/ReportServiceTests.cs
  Apps/GatewayApi/test/unit/Services.Test/UserFeedbackServiceTests.cs
  Apps/GatewayApi/test/unit/Services.Test/UserPreferenceServiceTests.cs
  Apps/GatewayApi/test/unit/Services.Test/UserProfileServiceTests.cs
  Apps/GatewayApi/test/unit/Services.Test/WebAlertServiceTests.cs
  Apps/Immunization/test/unit/Controllers.Test/PublicVaccineStatusControllerTests.cs
  Apps/Immunization/test/unit/Delegates.Test/VaccineStatusDelegateTests.cs
  Apps/Immunization/test/unit/Services.Test/ImmunizationServiceTests.cs
  Apps/Immunization/test/unit/Services.Test/VaccineStatusServiceTests.cs
  Apps/Laboratory/test/unit/Delegates/LaboratoryDelegateTests.cs
  Apps/Medication/test/unit/Controllers/MedicationStatementControllerTests.cs
  Apps/Medication/test/unit/Delegates/MedicationDelegateTests.cs
  Apps/Patient/test/unit/Controllers/PatientControllerTests.cs
  Apps/WebClient/test/unit/Controllers/RobotsControllerTests.cs
  Apps/WebClient/test/unit/Services/ConfigurationServiceTests.cs
Labels: .NET, unit tests, ready

#6183 Fix admin patient details functional test flakiness for AB#16744.
  Apps/Admin/Tests/Functional/cypress/integration/e2e/patient-details.cy.js
Labels: bugfix, functional tests, ready

#6187 Fix web client and admin flaky functional tests for AB#16747
  Apps/Admin/Tests/Functional/cypress/integration/e2e/beta-access.cy.js
  Apps/Admin/Tests/Functional/cypress/integration/e2e/reports.cy.js
  Testing/functional/tests/cypress/integration/e2e/pages/breadcrumbs.js
  Testing/functional/tests/cypress/integration/e2e/timeline/modals/protectiveWordModal.js
  Testing/functional/tests/cypress/integration/e2e/user/acceptTermsOfService.js
  Testing/functional/tests/cypress/integration/e2e/user/dependents.js
  Testing/functional/tests/cypress/integration/e2e/user/quickLinks.js
  Testing/functional/tests/cypress/integration/ui/user/dependents.js
  Testing/functional/tests/cypress/support/functions/intercept.js
Labels: bugfix, functional tests, ready
